
.vector-marker {
  position: absolute;
  display: block;
  text-align: center;
  z-index:69;
}
.vector-marker svg path {
  stroke: black;
  stroke-opacity: 0.4;
  stroke-width: 1;
}


.vector-marker i {
	background-clip: padding-box;
	border-radius: 6px;
	position: absolute;
	width: 12px !important;
	height: 12px !important;
	margin-left: -19px !important;
	margin-top: 6px !important;
	background-color: white;
	border: 1px solid black;
}


